<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ description }}" />
        <meta name="generator" content="Eleventy" />


        <link rel="stylesheet" type="text/css" href="/styles/globals.css" />
        <link rel="stylesheet" type="text/css" href="/styles/cube.css" />

        <title>{{ title }}</title>
    </head>
    <body>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>